@use '../abstracts' as a;

header{
    margin:0 auto;
    width:100%;
    padding-top:4rem;
    padding-bottom:2rem;
    background-color: a.$background-color3 ;

    .blog_box{
        margin:0 auto;
        width:90%;
        text-align:center;
        padding-top:3rem;
        padding-bottom:1rem;

        img{
            margin: 0 auto;
            object-fit:cover;
            text-align:center;
        }

        h1{
            @include a.fjFontStyle2;
            padding-top:1rem;
        }

        p{
            @include a.osFontStyle2;
            padding-top:1rem;
            padding-bottom:1rem;
        }
    }
}

section{
    margin:0 auto;
    width:100%;
    background-color: a.$background-color2;
    padding-top:2rem;
    padding-bottom:10rem;

    .article_intro{
        margin:0 auto;
        width:80%;
        display:grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        gap:.5rem;
        padding-top:5rem;
        padding-bottom:5rem;
        height:70dvh;

        .article_intro_left{
            margin:0 auto;
            padding-top:8rem;

            h3{
                @include a.fjFontStyle;
            }

            p{
                padding-top:1rem;
                padding-bottom:1rem;
                @include a.osFontStyle;
            }

            a{
                background-color: a.$buttonColor;
                padding:.3rem;
                border:transparent;
                @include a.fjFontStyle;
            }
        }

        .article_intro_right{
            grid-template-columns: 2/2;
            width:100%;

            img{
                width:100%;
                height:100%;      
            }
        }
    }

    .article_box{
        margin:0 auto;
        width:85%;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap:10rem;
        padding-top:5rem;

        article{
            margin:0 auto;
    
            img{
                object-fit:cover;
                text-align:center;
                margin:0 auto;
                display:block;
            }
    
            h4{
                @include a.fjFontStyle;
                padding-top:.5rem;
            }

            p{
                @include a.osFontStyle;
                padding-top:.5rem;
                padding-bottom:1rem;
            }

            small{
                @include a.osFontStyle;
                padding-top:1rem;
            }

            a{
                background-color: a.$buttonColor;
                padding:.3rem;
                border:transparent;
                text-decoration:none;
                @include a.fjFontStyle;
            }
        }
    }

    /*Load more button for article_box section*/
    .loadMore{
        @include a.fjFontStyle;
        background-color:transparent;
        border:0.1rem solid a.$buttonColor;
        width:fit-content;
        padding:.8rem;
        transition:all .3s ease-out;

        &:hover{
            background-color: a.$buttonColor;
            transition:all .5s ease-in-out;
            cursor:pointer;
        }
    }
}