@use '../abstracts' as a;

header{
    margin:0 auto;
    width:100%;
    padding-top:10rem;
    padding-bottom:4rem;
    background-color: a.$background-color1;

    .connectWallet_box{
        width:fit-content;
        text-align:left;
        padding-left:2rem;

        h1{
            @include a.fjFontStyle2;
            line-height:1.5;
            font-style:italic;
        }

        p{
            @include a.fjFontStyle2;
            padding-bottom:1rem;
        }
    }
}

.connectWallet_box_provider{
    margin-block:2rem;
    gap:1rem;
    margin:0 auto;
    padding-top:3rem;
    padding-bottom:5rem;
    background-color: a.$background-color2;

    button{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0 auto;
        padding: 0.5rem;
        background-color: a.$buttonColor;
        width: 48rem;
        margin-bottom: 1rem;
        transition: all 0.5s ease-out;
        border:transparent;

        p{
            @include a.fjFontStyle;
        }

        &:hover{
            cursor:pointer;
        }
    }
}