$fontColor:#010a13;
$fontColor2: rgb(255, 255, 255);
$fontColor3:#C89B3C;
$fontColor4:rgb(237, 224, 206);
$fontColor5:rgb(144, 130, 128);
$background-color1:#091428;
$background-color2:#e7e6e3;
$background-color3:#2b2a29;
$background-color4:#010a13;
$background-color5:rgb(255, 255, 255);
$background-color6:rgb(51, 35, 50);
$background-color7:rgb(237, 224, 206);
$buttonColor:#C89B3C;

$fjFont:"Fjalla One", sans-serif;
$osFont:"Oswald", sans-serif;