$fontColor:rgb(10, 20, 40);
$fontColor2:rgb(245, 245, 245);
$fontColor3:rgb(167, 182, 227);
$fontColor4:rgb(237, 224, 206);
$fontColor5:rgb(144, 130, 128);
$fontColor6: #bf9743;
$fontColor7:rgb(183, 13, 43);
$background-color1:#111;
$background-color2:#e7e6e3;
$background-color3:rgb(22, 22, 22);
$background-color4:rgb(10, 10, 10);
$background-color5:rgb(237, 224, 206);
$background-color6:#141212;
$background-color7:#2a2a2a;
$background-color8:rgb(41, 41, 41);
$background-color9:rgb(245, 245, 245);
$background-color10:#191919;
$background-color11:#0a0a0a;
$background-color12:rgb(255, 255, 255);
$buttonColor: $fontColor3;
$border-color: rgb(196, 196, 196);

$osFont:"Inter", sans-serif;
$fjFont:'Spiegel';
