@use '../abstracts' as a;
/*Styling for footer section*/
footer{
    margin:0 auto;
    width:100%;
    background-color:#111;

    /*Styling for footer box that contains divs*/
    .footer_box{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.3fr repeat(2, 2fr) 2fr;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3rem;
        padding-top:4rem;
        padding-bottom:4rem;

        h3{
            @include a.fjFontStyle2;
            padding-bottom:.5rem;
        }

        p{
            @include a.osFontStyle2;
            padding-bottom:2rem;
        }

        /*Styling for left social media section containing Horizons header and overview*/
        .footer_social{
            display: flex;
            gap: 1.3rem;
            font-size: 1, 5rem;
            align-items: center;
        }

        /*Styling for explore links in footer*/
        .footer_box_explore{
            display: grid;
            grid-template-columns: 1fr;
            margin:0 auto;

            h3 {
                @include a.fjFontStyle2;
            }

            a {
                @include a.osFontStyle2;
                transition: transform 250ms;
                gap:2rem;
            }
        }

        /*Styling for help links in footer*/
        .footer_box_help {
            display: grid;
            grid-template-columns: 1fr;
            margin:0 auto;

            h3{
                @include a.fjFontStyle2;
            }

            a{
                @include a.osFontStyle2;
                transition: transform 250ms;
                gap:2rem;
            }
        }
          
        /*Styling for subscribe section in footer*/
        .subscribe2_box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: transparent;
            margin-top: 0.5rem;

            input {
                background: transparent;
                border: 0.15rem solid black;
                outline: none;
                width: 90%;
                color: transparent;
                padding: 0.5rem;
                background-color: white;

                &::placeholder {
                    @include a.osFontStyle;
                }
            }

            .subscribe2_box_info {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;

                p{
                    @include a.osFontStyle;
                    font-size: 1rem;
                }
            }
        }
    }
}